<!-- Budget Input Form and display -->
<div align="center" class="budget">
	<label for="name">Total Budget: </label>
	<input id="input_budget" [(ngModel)]="input_budget" placeholder="Total Budget" />
	<button (click)="onUpdateBudget(input_budget)" class="budget-btn">Update Total Budget</button>
</div>

<p align="center"><b>Total Monthly Funds:</b> {{total_budget}}</p>

<!-- Expense List Table -->
<div align="center">
	<table>
		<thead>
			<tr>
				<th><b>Expense</b></th>
				<th><b>Cost</b></th>
				<th><b>Priority</b></th>
				<th><b>Desired Percentage<br>of Total Monthly<br>Funds</b></th>
				<th><b>Actual Percentage<br>of Total Monthly<br>Funds</b></th>
				<th><b>Tools</b></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let row of expenses">
				<td>{{row.expense}}</td>
				<td>{{row.cost}}</td>
				<td>{{row.priority}}</td>
				<td>{{row.desired}}%</td>
                <!-- change ta class if actual % value is higher than desired -->
				<td [ngClass]="{'highlight' : row.actual > row.desired}">{{row.actual}}%</td>
				<td align="center">
					<button (click)="onSelect(row)">Edit</button>
					<button (click)="onDelete(row)" style="margin-left: 5px">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- Expense Form -->
<div class="expense-form-container">
	<form>
		<div>
			<label for="expense">Expense: </label>
			<input name="expense" [(ngModel)]="selected.expense" placeholder="Expense" />
		</div>
		<div>
			<label for="cost">Cost: </label>
			<input name="cost" [(ngModel)]="selected.cost" placeholder="Cost" />
		</div>
		<div>
			<label for="cost">Priority: </label>
			<select name="priority" [(ngModel)]="selected.priority">
				<option value="Low">Low</option>
				<option value="Medium">Medium</option>
				<option value="High">High</option>
			</select>
		</div>
		<div>
			<label for="desired">Desired<br>Percentage:</label>
			<input name="desired" [(ngModel)]="selected.desired" placeholder="Desired" />
		</div>

		<div align="center" style="margin-top: 10px">
            <!-- create button changes to update if expense is selected from table -->
			<button (click)="onCreate()">{{selected.id > 0 ? 'Update' : 'Create'}}</button>
			<button (click)="onCancel()" style="margin-left: 10px">Cancel</button>
		</div>
	</form>
</div>